*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-fluid{
    background-color: rgb(24, 119, 242) !important;
    height: 100vh !important;
}


.container{
    justify-content: space-between !important;
}


.container form{
    width: 400px;
    background-color: #fff !important;
    padding: 20px 10px !important;
    border-radius: 10px;
}

form input{
    outline: none !important;
    box-shadow: none !important;
}

.container-es{
    color: #fff;
}

.container-es h1{
    font-size: 50px !important;
}

.container-es p{
    font-size: 20px;
}

.btn{
    font-size: 18px !important;
}